[submodule "bas2c"]
	path = bas2c
	url = https://github.com/yunkya2/bas2c-x68k
[submodule "unlha"]
	path = unlha
	url = https://github.com/yunkya2/unlha.git
[submodule "sample"]
	path = sample
	url = https://github.com/yunkya2/elf2x68k-sample
