*linker:
ld.x

*lib:
-lc -l${FLOAT}

*link:
-z max-page-size=2 -T x68k.ld -e _main -nostdlib -L${TOOLCHAIN_PATH}/xc-elf/lib

*startfile:


*endfile:


*x68k_libgloss:


*link_gcc_c_sequence:
--start-group %G %L --end-group

%rename cc1_options         old_cc1_options

*cc1_options:
-fcall-used-d2 -fcall-used-a2 -fexec-charset=cp932 %(old_cc1_options)

%rename cpp_unique_options         old_cpp_unique_options

*cpp_unique_options:
-nostdinc -isystem ${TOOLCHAIN_PATH}/xc-elf/include %(old_cpp_unique_options)
